

h2.error Oooops!
    ul.error
        each error in errors
            -
              var requiredField = error.path;
              var fieldAsString = requiredField.replace(/_/g, ' ');
            li
                span(style="text-transform: capitalize;") #{fieldAsString}
                span  is required